

/* ***** */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mobileview {
	background-image: url("../src/images/mobile_view_backend.png");
	background-position: center;
	background-size: cover;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/* .prompt-card{
font-family: sans-serif;
background-color:#fff!important;
width:55%;
height:auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin:auto;
padding:15px;
border-radius:0px 0px 10px 10px;
}
.buttons,
.prompt-card p,
.reject-button {
	background-color: inherit
}


.reject-button {
	display: block;
	margin: 5px;
	padding: 5px;
	color: #8371f7;
	cursor: pointer;
	border-radius: 7px
}

.buttons {
	display: flex;
	flex-direction: row-reverse
}

.allow-button {
	margin: 3px;
	padding: 5px;
	background-color: #4169e1;
	color: #fff;
	cursor: pointer;
	border: 1px solid #000;
	border-radius: 7px
}


.bellicon,
.icon-message {
	background-color: inherit
}

.allow-button:hover {
	background-color: #4e7aff;
	transition-duration: .3s
}

.icon-message {
	margin: 2px;
	display: flex;
	flex-direction: row
}

.bellicon {
	margin: 10px 20px
} */